<html>
  <head>
    <title>Add Album</title>
  </head>
  <body>
  	<div class="container_12 flick">
  		<div class="grid_3">
			<form method="post" name='upload' action="" ENCTYPE="multipart/form-data" id="upload_image_form">
			<select  name="album_id">
			[% FOREACH album IN albums -%]
			  <option value ="[% album.album_id %]" >[% album.album_name %]</option>
			[% END %]
			</select>
					<div >
						<label for="imagepath" style="font-size: 13px; font-family: Arial,Helvetica,sans-serif;">File path :</label>
						<div >
							<input  type="file" name="imagepath" id="imagepath" size="37" />	
						</div>
					</div>
					<div >
						<label for="imagename" style="font-size: 13px; font-family: Arial,Helvetica,sans-serif;">Image name:</label>
						<div>
							<input type="text" name="imagename" id="imagename" />	
						</div>
					</div>
					<div for="description">
						<label style="font-size: 13px; font-family: Arial,Helvetica,sans-serif;">Description:</label>  
						<div >
							<input class="form_input1" type="text" name="description"  id="description" size="40"/>
							 <div class="validate_msg"></div >   
			    
						</div>
					</div>
					<div class="form_row4 align_btn_R">
						<input type="submit" name="submit" value="Add new image" />
					</div>
				</form>
				<div  style="font-size: 13px; font-family: Arial,Helvetica,sans-serif;">
					[% user %]
					[% error_msg %]
					[%status_msg%]
					<a href="[% c.uri_for('/home') %]">HOME</a>
				
				</div>
			</div>
		</div>
  </body>
</html>



   
