<div class ="ui-state-error ui corner-all" style="padding: 0 4px; margin: 6px auto 0 auto; width: 300px; text-align: center;">
	<form action="" method="post">
		Confirm to delete comment.    
		<input type="submit" value="Delete" />
	</form>
</div>
